<%- include ('partials/_header') -%>

<body>

  <!-- Navigation -->
  <%- include ('partials/_navigation') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= clean.title %></h1>
            <h2 class="subheading"><%= clean.title %></h2>
            <span class="meta">Posted by
              <%= clean.author %></span>
          </div>
        </div>
      </div>
    </div>
  </header>
 
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2 class="section-heading"></h2>

          <h2 class="section-heading"><%= clean.subtitle %>s</h2>

          <p><%= clean.content %></p>

          <div class="d-flex justify-content-end mr-5 pr-5" id="postbuttons">
            <a href="/edit/<%= clean._id %>"  class="btn btn-primary">Update</a>
            <a href="/post/<%= clean._id %>?_method=DELETE"type="button" class="btn btn-danger"
              onclick="return confirm('are you sure')">Delete</a>
          </div>
          
        </div>
      </div>
    </div>
    
  </article>
 
  <hr>

  <!-- Footer -->
  <%- include ('partials/_footer') -%>
  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/clean-blog.min.js"></script>

</body>

</html>
